body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333; 
    background-size: cover;
    color: #fffefe;
    text-align: center;
    padding: 0.5rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

#url-section {
    margin-bottom: 1rem;
}

form {
    display: flex;
    gap: 1rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.5rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

#result-section {
    display: none;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: auto; /* Push the footer to the bottom */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Specify the path to your image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Adjust the image size to cover the entire background */
    background-color: #f4f4f4;
}
